In [5]:
##from google.colab import drive
##drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
df = pd.read_parquet("green_tripdata_2025-11.parquet")
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

In [4]:
df.isnull().sum()

VendorID                     0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        5569
RatecodeID                5569
PULocationID                 0
DOLocationID                 0
passenger_count           5569
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                46912
improvement_surcharge        0
total_amount                 0
payment_type              5569
trip_type                 5570
congestion_surcharge      5569
cbd_congestion_fee           0
dtype: int64

In [5]:
df = df.drop(columns=["ehail_fee"])

**Question 3. Counting short trips**

In [6]:
# Filter trips in November 2025
november_trips = df[
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] < "2025-12-01")
]

november_trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.00,0.5,1.94,0.0,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.00,0.5,0.00,0.0,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,1.00,0.5,5.00,0.0,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,1.00,0.5,0.50,0.0,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,3.75,1.5,1.00,0.0,1.0,24.65,1.0,1.0,2.75,0.0

In [8]:
# Count trips with distance <= 1 mile
count_short_trips = november_trips[november_trips["trip_distance"] <= 1].shape[0]

count_short_trips

8007

**Question 4. Longest trip for each day**

In [9]:
# Filter valid trips (exclude outliers)
valid_trips = df[df["trip_distance"] < 100].copy()

# Create pickup date column (date only, no time)
valid_trips["pickup_date"] = valid_trips["lpep_pickup_datetime"].dt.date

# Find max trip distance per pickup day
daily_max_distance = (
    valid_trips
    .groupby("pickup_date")["trip_distance"]
    .max()
)

In [10]:
# Find the pickup day with the longest trip distance
longest_trip_day = daily_max_distance.idxmax()
longest_trip_distance = daily_max_distance.max()

longest_trip_day, longest_trip_distance

(datetime.date(2025, 11, 14), 88.03)

**Question 5. Biggest pickup zone**

In [11]:
taxi_zone = pd.read_csv("taxi_zone_lookup.csv")
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
taxi_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [14]:
# Filter trips on Nov 18, 2025 and calculate total_amount per pickup location
nov18 = df[
    (df["lpep_pickup_datetime"] >= "2025-11-18") &
    (df["lpep_pickup_datetime"] < "2025-11-19")
].copy()

pickup_sum = (
    nov18.groupby("PULocationID")["total_amount"]
    .sum()
    .reset_index()
)
pickup_sum.head(10)

   PULocationID  total_amount
0             7        343.60
1            10         87.24
2            14         53.83
3            15         39.50
4            17        110.25
5            19         38.02
6            21         41.50
7            24        177.15
8            25        271.78
9            26         20.18

In [15]:
# Join with taxi zone lookup table and select the zone with the highest total_amount
top_zone = (
    pickup_sum
    .merge(taxi_zone, left_on="PULocationID", right_on="LocationID", how="left")
    .sort_values("total_amount", ascending=False)
    .head(1)
)

top_zone[["Zone", "Borough", "total_amount"]]
#top_zone

                 Zone    Borough  total_amount
39  East Harlem North  Manhattan       9281.92

**Quesion 6. Largest tip**

In [16]:
# 1. Get LocationID for "East Harlem North"
east_harlem_id = taxi_zone.loc[taxi_zone['Zone'] == 'East Harlem North', 'LocationID'].values[0]

# 2. Filter trips from East Harlem North in Nov 2025
mask = (
    (df['PULocationID'] == east_harlem_id) &
    (df['lpep_pickup_datetime'].dt.year == 2025) &
    (df['lpep_pickup_datetime'].dt.month == 11)
)
df_filtered = df[mask]

In [17]:
df_filtered.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,1.0,0.5,1.94,0.0,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,1.0,0.5,0.00,0.0,1.0,9.70,2.0,1.0,0.00,0.0
24,2,2025-11-01 00:38:13,2025-11-01 00:55:47,N,1.0,74,262,1.0,3.40,19.8,1.0,0.5,2.00,0.0,1.0,27.05,1.0,1.0,2.75,0.0
53,2,2025-11-01 00:20:44,2025-11-01 00:27:05,N,1.0,74,74,1.0,0.78,7.9,1.0,0.5,0.00,0.0,1.0,10.40,1.0,1.0,0.00,0.0
68,2,2025-11-01 00:20:37,2025-11-01 00:24:42,N,1.0,74,41,1.0,0.77,6.5,1.0,0.5,0.00,0.0,1.0,9.00,2.0,1.0,0.00,0.0

In [18]:
# 3. Find the row with the largest tip
max_tip_row = df_filtered.loc[df_filtered['tip_amount'].idxmax()]

# 4. Get the drop-off zone name
dropoff_zone_id = max_tip_row['DOLocationID']
dropoff_zone_name = taxi_zone.loc[taxi_zone['LocationID'] == dropoff_zone_id, 'Zone'].values[0]

print("Drop-off zone with the largest tip:", dropoff_zone_name)

Drop-off zone with the largest tip: Yorkville West